## Import the necessary library

In [53]:
import numpy as np
import pandas as pd

## Reading the json file data

In [37]:
data = pd.read_json('data.json', orient='records')

# Get some information about data

In [38]:
data.head()

,ads,adwords,assurance,ceo,comment,cto,facebook,gmail,google,is,...,reactjs,ruby,share,shyam,starbuck,sundar,tweet,twitter,whitehat,zenladger
0,2.0,2.0,NaN,NaN,NaN,NaN,1.0,NaN,4.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,2.0,NaN,4.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,NaN,NaN
4,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,4.0,3.0

In [39]:
data = data.fillna(0)

In [40]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=5, init='k-means++')
labels = kmeans.fit_predict(data)

### Now grouping the emails according the different clusters 
Here, the numbers are id of emails starting from 0 to 25

In [58]:
{i: np.where(kmeans.labels_ == i)[0] for i in range(kmeans.n_clusters)}

{0: array([ 2,  5,  9, 12, 16, 21]),
 1: array([ 1, 13, 23, 24]),
 2: array([ 3,  6, 11, 15, 17, 18]),
 3: array([ 4,  8, 14, 20, 22]),
 4: array([ 0,  7, 10, 19, 25])}

The reason I performed clustering over classification in this problem is that, we don't have any ground truth in our dataset and we want the algorithm itself cluster the emails into 5 groups. 

The reason why KMeans is a good choice for this problem is that we already have a predifined number of clusters. Most of the other clustering algorithms are focused on finding the right number of clusters but since we have that already this algorithm is more efficient than others

### Summary of KMeans Algorithm

Kmeans algorithm randomly initializes the k centroids for our dataset. Then we assign the closest data point to the centroid. After that we compute and place the new centroid of each cluster. Then we again reassign the data point to the new closest centroid.
We repeat this process until no any reassignment takes place.